:root {
    --dark-navy: #001d3d;
    --cream-white: #f7f1e9;
    --blue: #ced4da;
    --dark-blue: #6c757d;
    --red: red;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*:hover {
    cursor: default;
}

body {
    background-color: var(--dark-navy);
    color: var(--cream-white);
}

.topbar {
    padding: 10px 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameboards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#gameboards h2 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
}

.board {
    padding: 50px;
}

.grid-label {
    display: flex;
    justify-content: space-around;
}

.x-axis {
    flex-direction: row;

    position: absolute;
    top: -20px;
    right: 0;

    width: 400px;
}

.y-axis {
    flex-direction: column;

    position: absolute;
    top: 0;
    left: -25px;

    height: 400px;
    text-align: end;
}

.gameboard {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: var(--cream-white);
    border: 1px solid var(--cream-white);
}

.gameboard-grid {
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;

    width: calc(100% - 0.2px);
    height: calc(100% - 0.2px);
 }

.gameboard-cells {
    z-index: 0;
}

.grid {
    background-color: var(--dark-navy);
    text-align: center;
}

.ship {
    background-color: var(--blue);
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
}

.marker-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker {
    padding: 7px;
    border-radius: 50%;
}

.marker-hit {
    background-color: var(--red);
}

.marker-miss {
    background-color: var(--white);
}

#turn-log {
    margin-bottom: 20px;
}

#game-actions {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px;
    border: 1px solid var(--cream-white);
    border-radius: 10px;
}

#reset {
    display: none;
}