* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*:hover {
    cursor: default;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#gameboards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#gameboards h2 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
}

.board {
    padding: 50px;
}

.grid-label {
    display: flex;
    justify-content: space-around;
}

.x-axis {
    flex-direction: row;

    position: absolute;
    top: -20px;
    right: 0;

    width: 400px;
}

.y-axis {
    flex-direction: column;

    position: absolute;
    top: 0;
    left: -25px;

    height: 400px;
    text-align: end;
}

.gameboard {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: black;
    border: 1px solid black;
}

.gameboard-grid {
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;

    width: calc(100% - 0.2px);
    height: calc(100% - 0.2px);
 }

.gameboard-cells {
    z-index: 0;
}

.grid {
    background-color: white;
    text-align: center;
}

.ship {
    background-color: rgb(0, 132, 255);
    border: 2px solid rgb(3, 99, 188);
}

.marker-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker {
    padding: 5px;
    border-radius: 50%;
}

.marker-hit {
    background-color: red;
}

.marker-miss {
    background-color: yellow;
}

#game-actions {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

#reset {
    display: none;
}